<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <TestWebService.Properties.Settings>
            <setting name="TestWebService_com_sharepoint_sprucetechnology_Lists" serializeAs="String">
                <value>https://sprucetechnology.sharepoint.com/_vti_bin/Lists.asmx</value>
            </setting>
        </TestWebService.Properties.Settings>
    </applicationSettings>
<appSettings>
	<add key="ClientId" value="8700d359-63c9-449b-92f7-cb8ef8f2ffee"/>
	<add key="ClientSecret" value="KzN5TI2ftZMU7auChs4h+wECArE0ePV2s+f6Kz3NtHM="/>
</appSettings>
</configuration>
