<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <TestAPI.Properties.Settings>
            <setting name="TestAPI_com_dynamics_businesscentral_api_PurchasejournalpostAPI"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v2.0/d8cf23a2-17d9-41d8-a10d-9aa603abf54d/Sandbox/WS/CRONUS%20USA,%20Inc./Codeunit/PurchasejournalpostAPI?tenant=msft1a6720t23238948&amp;aid=FIN</value>
            </setting>
        </TestAPI.Properties.Settings>
    </applicationSettings>
</configuration>